@import "src/app/shared/scss/core-variables";
.product-detail {
  margin: 20px;

  .cursor-pointer {
    cursor: pointer;
  }

  .orange-label {
    color: $color-orange-l1;
  }

  .green-label {
    color: #15c407;
  }

  .main-img {
    img {
      width: 100%;
    }
  }

  .sub-img {
    display: flex;
    img {
      width: 70px;
      height: 70px;
      margin-left: 5px;
      margin-right: 5px;
      object-fit: contain;
      border: 1px solid $color-gray-l7;
    }
  }

  .product-status {
    display: flex;

    .status {
      background-color: #15c407;
      color: $color-white-l1;
      padding: 3px 7px 3px 7px;
    }
  }

  .product-option {
    .new-price {
      font-size: 24px;
      color: $color-orange-l1;
    }
    .old-price {
      font-size: 18px;
      text-decoration-line: line-through;
    }

    .option {
      display: flex;

      h6 {
       margin-bottom: 5px;
      }

      button {
        width: 100px;
        background-color: $color-white-l1;
        margin-right: 10px;
        border: 1px solid $color-gray-l1;
      }

      .selected {
        background-color: $color-orange-l1;
        color: $color-white-l1;
        border: none;
      }
    }
  }

  .buy-product {
    .buy {
      padding: 10px 20px 10px 20px;
      border: 1px solid $color-gray-l5;
      padding-left: 20px;
      background-color: $color-white-l1;
    }

    .add {
      padding: 10px 20px 10px 20px;
      border: none;
      background-color: $color-orange-l1;
      color: $color-white-l1;
    }
  }

  .product-info-header {
    width: 100%;
    height: 50px;
    background-color: $color-gray-l7;
    display: flex;

    .button-nav {
      width: max-content;
      padding-left: 10px;
      padding-right: 10px;
      display: flex;
      align-items: center;
    }

    .active-nav {
      background-color: $color-white-l1;
      border-bottom: 4px solid $color-orange-l1;
      border-top: 1px solid $color-gray-l7;
      border-right: 1px solid $color-gray-l7;
      border-left: 1px solid $color-gray-l7;
    }
  }

  .ad1 {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $color-gray-l7;
    text-align: center;

    button {
      height: 40px;
      padding-right: 20px;
      padding-left: 20px;
      border: none;
      background-color: #242424;
      color: $color-white-l1;
    }
  }

  .ad2 {
    padding: 20px;
    height: 300px;
    background-color: $color-orange-l1;
    color: $color-white-l1;
  }

  .section-header-grey {
    padding: 20px;
    background-color: $color-gray-l7;
    display: flex;
    justify-content: space-between;
  }

  .home-page-section {
    padding: 20px ;
    border: #EFEFEF solid 1px ;

    .section-header {
      display: inline-flex;
      justify-content: space-between;

      .section-header-icon {

        color: $color-orange-l1;
      }
    }

    .background-grey {
      background-color: $color-gray-l5;
    }
  }

  .list-product {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .product-card {
    width: 230px;
    height: 370px;
    border: #EFEFEF solid 1px ;

    .product-card-image {
      width: 100%;
      height: 200px;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: fill;
      }

      .price-discount {
        padding: 15px 10px;
        color: $color-white-l1;
        background-color: $color-red-l3;
        border-radius: 50%;
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }

    .product-card-body {
      padding: 10px 20px 10px 20px;

      .old-price {
        font-size: 18px;
        text-decoration-line: line-through;
      }

      .new-price {
        font-size: 24px;
        color: $color-orange-l1;
      }
    }
  }

  div .product-card:hover {
    border: 2px solid $color-orange-l5;
    transition: outline 0.6s linear;
    transform: scale(1.05);
    opacity: 10;
  }

  .comment-section {
    padding: 10px;
    border-bottom: 1px solid $color-gray-l7;
    border-left: 1px solid $color-gray-l7;
    border-right: 1px solid $color-gray-l7;

    .comment-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    button {
      padding: 10px 30px 10px 30px;
      background-color: $color-black-l4;
      color: $color-white-l1;
      border: none;
    }
  }

  .show-more {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }

  .question {
    border-left: 1px solid $color-gray-l7;
    border-right: 1px solid $color-gray-l7;
    padding: 10px 20px 10px 20px;

    input {
      max-width: 50%!important;
    }

    button {
      height: 40px;
      padding-left: 30px;
      padding-right: 30px;
      background-color: $color-orange-l1;
      color: $color-white-l1;
      border: none;
    }
  }


}
