<div class="home-page">
    <div class="my-2">
      <div class="row">
        <div class="col-sm-12 col-md my-1">
          <div class="list-group">
            <a class="list-group-item list-group-item-action">An toàn - Vệ sinh lao động</a>
            <a class="list-group-item list-group-item-action">Dụng cụ và vật tư</a>
            <a class="list-group-item list-group-item-action">Thiết bị trong và ngoài nhà</a>
            <a class="list-group-item list-group-item-action">Xe & máy</a>
            <a class="list-group-item list-group-item-action">Kết cấu & Xây trát</a>
            <a class="list-group-item list-group-item-action">Ván khuân & giàn giáo</a>
            <a class="list-group-item list-group-item-action">Cơ điện</a>
            <a class="list-group-item list-group-item-action">Hoàn thiện</a>
          </div>
          <div class="right-col">
            <span class="price">50%</span>
            <span class="title">Giảm</span>
          </div>
        </div>
        <div class="col-sm-12 col-md-7 main-img my-1">
          <img src="/assets/img/background.png" alt="image">
        </div>
        <div class="col-sm-12 col-md my-1">
          <div class="menu-right">
            <div>
              <p class="title">Giảm <span class="price">50%</span></p>
              <p>The placeholder text, beginning with the line "Loremipsum dolor sit amet, consectetur adipiscing elit", looks like latin because in its younth, centuries ago, ...</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="my-2">
      <div class="home-page-section">
        <div class="col-12 section-header">
          <div>
            <span class="fw-bold">SẢN PHẨM BÁN CHẠY</span>
          </div>
          <div class="cursor-pointer">
            <fa-icon class="section-header-icon" [icon]="faEye"></fa-icon> &nbsp;
            <span class="fw-bold">XEM TẤT CẢ</span>
          </div>
        </div>
        <div class="col-12 mt-3 list-product">
          <div class="product-card">
            <div class="product-card-image cursor-pointer">
              <img (click)="gotoProductDetail()" src="../../../assets/img/product.png">
              <div class="price-discount">
                <span>-10%</span>
              </div>
            </div>
            <div class="product-card-body">
              <h6 (click)="gotoProductDetail()" class="cursor-pointer">Máy khoan bê tông</h6>
              <span class="old-price">1,900,000 Đ</span><br>
              <span class="new-price">1,400,000 Đ</span><br>
              <span>Bosch</span>
            </div>
          </div>
          <div class="product-card">
            <div class="product-card-image cursor-pointer">
              <img (click)="gotoProductDetail()" src="../../../assets/img/product.png">
              <div class="price-discount">
                <span>-10%</span>
              </div>
            </div>
            <div class="product-card-body">
              <h6 (click)="gotoProductDetail()" class="cursor-pointer">Máy khoan bê tông</h6>
              <span class="old-price">1,900,000 Đ</span><br>
              <span class="new-price">1,400,000 Đ</span><br>
              <span>Bosch</span>
            </div>
          </div>
          <div class="product-card">
            <div class="product-card-image cursor-pointer">
              <img (click)="gotoProductDetail()" src="../../../assets/img/product.png">
              <div class="price-discount">
                <span>-10%</span>
              </div>
            </div>
            <div class="product-card-body">
              <h6 (click)="gotoProductDetail()" class="cursor-pointer">Máy khoan bê tông</h6>
              <span class="old-price">1,900,000 Đ</span><br>
              <span class="new-price">1,400,000 Đ</span><br>
              <span>Bosch</span>
            </div>
          </div>
          <div class="product-card">
            <div class="product-card-image cursor-pointer">
              <img (click)="gotoProductDetail()" src="../../../assets/img/product.png">
              <div class="price-discount">
                <span>-10%</span>
              </div>
            </div>
            <div class="product-card-body">
              <h6 (click)="gotoProductDetail()" class="cursor-pointer">Máy khoan bê tông</h6>
              <span class="old-price">1,900,000 Đ</span><br>
              <span class="new-price">1,400,000 Đ</span><br>
              <span>Bosch</span>
            </div>
          </div>
          <div class="product-card">
            <div class="product-card-image cursor-pointer">
              <img (click)="gotoProductDetail()" src="../../../assets/img/product.png">
              <div class="price-discount">
                <span>-10%</span>
              </div>
            </div>
            <div class="product-card-body">
              <h6 (click)="gotoProductDetail()" class="cursor-pointer">Máy khoan bê tông</h6>
              <span class="old-price">1,900,000 Đ</span><br>
              <span class="new-price">1,400,000 Đ</span><br>
              <span>Bosch</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row my-4">
      <div class="home-page-banner">
      <span>MUA - BÁN CỰC KỲ THUẬN LỢI VÀ NHANH CHÓNG</span> &nbsp;&nbsp;
        <div>
          <img src="assets/img/googlePlay.png">
        </div>
        <div>
          <img src="assets/img/appStore.png">
        </div>
      </div>
    </div>

    <div class="my-2">
      <div class="home-page-section">
        <div class="col col-12 section-header">
          <div>
            <span class="fw-bold">DỤNG CỤ ĐIỆN</span>
          </div>
          <div class="cursor-pointer">
            <fa-icon class="section-header-icon" [icon]="faEye"></fa-icon> &nbsp;
            <span class="fw-bold">XEM TẤT CẢ</span>
          </div>
        </div>
        <div class="col-12 mt-3 list-product">
          <div class="product-card">
            <div class="product-card-image cursor-pointer">
              <img src="../../../assets/img/product.png">
            </div>
            <div class="product-card-body">
              <h6 class="cursor-pointer">Máy khoan bê tông</h6>
              <span class="old-price">1,900,000 Đ</span><br>
              <span class="new-price">1,400,000 Đ</span><br>
              <span>Bosch</span>
            </div>
          </div>
          <div class="product-card">
            <div class="product-card-image cursor-pointer">
              <img src="../../../assets/img/product.png">
            </div>
            <div class="product-card-body">
              <h6 class="cursor-pointer">Máy khoan bê tông</h6>
              <span class="old-price">1,900,000 Đ</span><br>
              <span class="new-price">1,400,000 Đ</span><br>
              <span>Bosch</span>
            </div>
          </div>
          <div class="product-card">
            <div class="product-card-image cursor-pointer">
              <img src="../../../assets/img/product.png">
            </div>
            <div class="product-card-body">
              <h6 class="cursor-pointer">Máy khoan bê tông</h6>
              <span class="old-price">1,900,000 Đ</span><br>
              <span class="new-price">1,400,000 Đ</span><br>
              <span>Bosch</span>
            </div>
          </div>
          <div class="product-card">
            <div class="product-card-image cursor-pointer">
              <img src="../../../assets/img/product.png">
            </div>
            <div class="product-card-body">
              <h6 class="cursor-pointer">Máy khoan bê tông</h6>
              <span class="old-price">1,900,000 Đ</span><br>
              <span class="new-price">1,400,000 Đ</span><br>
              <span>Bosch</span>
            </div>
          </div>
          <div class="product-card">
            <div class="product-card-image cursor-pointer">
              <img src="../../../assets/img/product.png">
            </div>
            <div class="product-card-body">
              <h6 class="cursor-pointer">Máy khoan bê tông</h6>
              <span class="old-price">1,900,000 Đ</span><br>
              <span class="new-price">1,400,000 Đ</span><br>
              <span>Bosch</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row my-4">
      <div class="home-page-banner">
        <img src="assets/img/banner-icon3.png">&nbsp;&nbsp;
        <img src="assets/img/banner-icon3.png">&nbsp;&nbsp;
        <img src="assets/img/banner-icon3.png">&nbsp;&nbsp;
        <span>NHANH CHÓNG HOÀN THIỆN NỘI THẤT CHO CÔNG TRÌNH</span>
      </div>
    </div>

    <div class="my-2">
      <div class="home-page-section">
        <div class="col col-12 section-header">
          <div>
            <span class="fw-bold">GIÀY AN TOÀN LAO ĐỘNG</span>
          </div>
          <div class="cursor-pointer">
            <fa-icon class="section-header-icon" [icon]="faEye"></fa-icon> &nbsp;
            <span class="fw-bold">XEM TẤT CẢ</span>
          </div>
        </div>
        <div class="col-12 mt-3 list-product">
          <div class="product-card">
            <div class="product-card-image cursor-pointer">
              <img src="../../../assets/img/product.png">
            </div>
            <div class="product-card-body">
              <h6 class="cursor-pointer">Máy khoan bê tông</h6>
              <span class="old-price">1,900,000 Đ</span><br>
              <span class="new-price">1,400,000 Đ</span><br>
              <span>Bosch</span>
            </div>
          </div>
          <div class="product-card">
            <div class="product-card-image cursor-pointer">
              <img src="../../../assets/img/product.png">
            </div>
            <div class="product-card-body">
              <h6 class="cursor-pointer">Máy khoan bê tông</h6>
              <span class="old-price">1,900,000 Đ</span><br>
              <span class="new-price">1,400,000 Đ</span><br>
              <span>Bosch</span>
            </div>
          </div>
          <div class="product-card">
            <div class="product-card-image cursor-pointer">
              <img src="../../../assets/img/product.png">
            </div>
            <div class="product-card-body">
              <h6 class="cursor-pointer">Máy khoan bê tông</h6>
              <span class="old-price">1,900,000 Đ</span><br>
              <span class="new-price">1,400,000 Đ</span><br>
              <span>Bosch</span>
            </div>
          </div>
          <div class="product-card">
            <div class="product-card-image cursor-pointer">
              <img src="../../../assets/img/product.png">
            </div>
            <div class="product-card-body">
              <h6 class="cursor-pointer">Máy khoan bê tông</h6>
              <span class="old-price">1,900,000 Đ</span><br>
              <span class="new-price">1,400,000 Đ</span><br>
              <span>Bosch</span>
            </div>
          </div>
          <div class="product-card">
            <div class="product-card-image cursor-pointer">
              <img src="../../../assets/img/product.png">
            </div>
            <div class="product-card-body">
              <h6 class="cursor-pointer">Máy khoan bê tông</h6>
              <span class="old-price">1,900,000 Đ</span><br>
              <span class="new-price">1,400,000 Đ</span><br>
              <span>Bosch</span>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>
