<div class="login-component">
  <div class="login-box my-5">
    <div class="login-box-content">
      <h4 class="fw-bold">Chào mừng bạn! Hãy đăng nhập ngay</h4>
      <span>Bạn chưa là thành viên? <a class="register-button">đăng kí ngay</a></span>
      <div class="login-form mt-5">
        <div class="input-group my-3">
          <input type="text" class="form-control" placeholder="Tên đăng nhập">
        </div>
        <div class="my-3">
          <div class="input-group">
            <input class="form-control" placeholder="Mật khẩu"
                   [type]="showPassword ? 'text' : 'password'" >
            <div class="input-group-addon">
              <button class="show-password" (click)="isShowPassword()"><fa-icon [icon]="faEye"  *ngIf="!showPassword"></fa-icon>
                <fa-icon [icon]="faEyeSlash" *ngIf="showPassword"></fa-icon></button>
            </div>
          </div>
        </div>
        <div class="row form-group mt-3 text-lg-end">
          <a class="forgot-pass">Quên mật khẩu!</a>
        </div>
        <div class="row mt-3 ">
          <button (click)="login()" class="btn btn-dark">Đăng nhập</button>
        </div>
      </div>
    </div>
  </div>
</div>
