@import "src/app/shared/scss/core-variables";
.shopping-cart {
  margin: 10px;

  .table-header {
    background-color: $color-gray-l7;
  }

  .cart-item {
    border: 1px solid $color_gray-l7;
    box-shadow: 1px 1px $color_gray-l7;

    .item-header {
      padding: 5px 10px 5px 10px;
      border-bottom: 1px solid $color-gray-l7;
    }

    .item-body {
      padding: 10px;
      display: flex;
      .item-body-content {
        display: flex;


        .item-margin {
          margin-right: 10px;
          margin-left: 10px;

          img {
            width: 120px;
            height: 120px;
          }
        }

      }

      .vertical-center {
        display: flex;
        align-items: center;
      }

      .vertical-between {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .total {
        font-size: 20px;
        color: $color-orange-l1;
      }
    }
  }

  .cart-footer {
    border: 1px solid $color_gray-l7;
    box-shadow: 1px 1px $color_gray-l7;

    .cart-footer-head {
      padding: 5px 10px 5px 10px;
      border-bottom: 1px solid $color-gray-l7;
      display: flex;
      justify-content: flex-end;
    }

    .cart-footer-body {
      display: flex;
      justify-content: space-between;
      padding: 10px;

      .footer-action {
        display: flex;
        align-items: center;

      }

      .footer-price {
        display: flex;
        justify-content: flex-end;

        span {
          font-size: 20px;
          color: $color-orange-l1;
          font-weight: bold;
        }
      }


    }
  }

  .buy-product {
    display: flex;
    justify-content: flex-end;
    button {
      background: $color-orange-l1;
      color: $color-white-l1;
    }
  }

  .margin-right-3 {
    margin-right: 30px;
  }
}
