<div class="my-3 shopping-cart">
  <h4 class="fw-bold">GIỎ HÀNG</h4>
  <div class="container mt-3">
    <table class="table">
      <thead class="table-header">
      <tr>
        <th style="width: 49%">Sản phẩm</th>
        <th style="width: 17%">Đơn giá</th>
        <th style="width: 17%">Số lượng</th>
        <th style="width: 17%">Số tiền</th>
      </tr>
      </thead>
    </table>

    <div class="cart-item mt-3">
      <div class="item-header">
        <input type="checkbox" class="form-check-input"> &nbsp;
        <label class="form-check-label">Kho Hà Nội</label>
      </div>
      <div class="item-body ">
        <div class="item-body-content" style="width: 49%">
          <div class="vertical-center">
            <input class="vertical-center" type="checkbox" class="form-check-input">
          </div>
          <div class="item-margin">
            <img src="assets/img/maykhoan.JPG">
          </div>
          <div  class="item-margin vertical-between">
            <div>
              <span class="fw-bold">Máy khoan Bosch (BOSCH) GBM 340</span><br>
              <span>100W/ 2kg / 2HP</span>
            </div>
            <div>
              <a><fa-icon style="font-size: 20px" [icon]="faTrashAlt"></fa-icon></a>
            </div>
          </div>
        </div>
        <div class="vertical-center" style="width: 17%">
            <span class="">1.400.000 Đ</span>
        </div>
        <div class="vertical-center" style="width: 17%">
          <app-quantity></app-quantity>
        </div>
        <div class="vertical-center" style="width: 17%">
          <span class="total">1.400.000 Đ</span>
        </div>
      </div>
    </div>
    <div class="cart-item mt-3">
      <div class="item-header">
        <input type="checkbox" class="form-check-input"> &nbsp;
        <label class="form-check-label">Kho Hà Nội</label>
      </div>
      <div class="item-body ">
        <div class="item-body-content" style="width: 49%">
          <div class="vertical-center">
            <input class="vertical-center" type="checkbox" class="form-check-input">
          </div>
          <div class="item-margin">
            <img src="assets/img/maykhoan.JPG">
          </div>
          <div  class="item-margin vertical-between">
            <div>
              <span class="fw-bold">Máy khoan Bosch (BOSCH) GBM 340</span><br>
              <span>100W/ 2kg / 2HP</span>
            </div>
            <div>
              <a><fa-icon style="font-size: 20px" [icon]="faTrashAlt"></fa-icon></a>
            </div>
          </div>
        </div>
        <div class="vertical-center" style="width: 17%">
          <span class="">1.400.000 Đ</span>
        </div>
        <div class="vertical-center" style="width: 17%">
          <app-quantity></app-quantity>
        </div>
        <div class="vertical-center" style="width: 17%">
          <span class="total">1.400.000 Đ</span>
        </div>
      </div>
    </div>


    <div class="cart-footer mt-3">
      <div class="cart-footer-head">
        <div>
          Phiếu giảm giá
        </div>
        <div style="color: #FE9F38; margin-left: 70px">Chọn hoặc nhập mã</div>
      </div>
      <div class="cart-footer-body">
        <div class="footer-action">
          <div class="margin-right-3">
            <input type="checkbox" class="form-check-input"> &nbsp;
            <label class="form-check-label">Chọn tất cả (2)</label>
          </div>
          <div class="margin-right-3">
            <a ><fa-icon [icon]="faTrashAlt"></fa-icon> Xóa tất cả</a>
          </div>
          <div class="margin-right-3">
            <a ><fa-icon [icon]="faHeart"></fa-icon> Lưu vào mục yêu thích</a>
          </div>
        </div>
        <div class="footer-price">
          <p>Tổng thanh toán (2 Sản phẩm): <span>2.800.000 Đ</span></p>
        </div>
      </div>

    </div>

    <div class="my-3 buy-product">
      <button class="btn">MUA HÀNG</button>
    </div>

  </div>
</div>
